@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


[data-bs-theme="dark"] {
  --bs-body-bg: #212529;          
  --bs-body-color: #c9d1d9;     
  --bs-primary: #58a6ff;           
  --bs-link-color: #79c0ff;       
  --bs-border-color: #30363d;
  --bs-text-color: #fff;
  --bs-body-footer-color: #2B3035;
}

[data-bs-theme="light"] {
  --bs-body-bg: #fff;
  --bs-body-color: #1a1a1a;
  --bs-primary: #4c8bff;
  --bs-link-color: #4c8bff;
  --bs-border-color: #ccc;
  --bs-text-color: #323232;
  --bs-body-footer-color: #212529;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans 3', sans-serif;
}

.navbar{

  padding: 1.6rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.145);;
}

/*Texts Header*/

.navbar-brand{
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5rem;
}

.nav-link{
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-family: 'Electrolize', sans-serif;
  font-size: 1.25rem;
  transition: transform 0.3s ease;
  margin-right: 4rem;
}

.nav-link:hover{
  transform: scale(1.05);

}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.5rem;
  width: 0%;
  height: 2px;
  background-color: #407BFF;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.button-dark-mode {
  background: transparent;
  border: none;
  margin: 0 4rem 0rem 0;
  cursor: pointer;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.button-dark-mode:hover {
  transform: scale(1.05); 
}

.button-dark-mode img{
  width: 2rem;
  height: auto;
}

.main-content{
  padding-top: 8rem;
}

.blue-text{
  color: #407BFF;
}

.black-text{
  color: #333;
}

.font-electrolize{
  font-family: 'Electrolize', sans-serif;
}

.font-orbitron{
  font-family: 'Orbitron', sans-serif;
}

.font-source-sans-3{
  font-family: 'Source Sans 3', sans-serif;
}

#about-me{
  text-align: center;
  padding: 60px;
}

#projects-web{
  text-align: center;
  padding: 60px;
}

#tech img{
    transition: transform 0.3s ease;
}

#tech img:hover{
  transform: scale(1.05);
}

#div-title{
  background-color: black;
  width: 10%;
  height: 100%;
}

