@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

[data-bs-theme="dark"] {
  --bs-body-bg: #2e2e2e;     
  --bs-body-color: #eee;  
  --bs-primary: #ff7f50;  
  --bs-link-color: #9ecbff;
  --bs-border-color: #444;
}

[data-bs-theme="light"] {
  --bs-body-bg: #efefef;
  --bs-body-color: #1a1a1a;
  --bs-primary: #4c8bff;
  --bs-link-color: #4c8bff;
  --bs-border-color: #ccc;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans 3', sans-serif;
}

header{
  padding: 1.6rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.145);;
}

/*Texts Header*/

.navbar-brand{
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5rem;
}

.nav-link{
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-family: 'Electrolize', sans-serif;
  font-size: 1.25rem;
  transition: transform 0.3s ease;
  margin-right: 4rem;
}

.nav-link:hover{
  transform: scale(1.05);

}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.5rem;
  width: 0%;
  height: 2px;
  background-color: #407BFF;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.button-dark-mode {
  background: transparent;
  border: none;
  margin: 0 4rem 0rem 0;
  cursor: pointer;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.button-dark-mode:hover {
  transform: scale(1.05); 
}

.button-dark-mode img{
  width: 2rem;
  height: auto;
}

.blue-text{
  color: #407BFF;
}

.black-text{
  color: #333;
}

.font-electrolize{
  font-family: 'Electrolize', sans-serif;
}

.font-orbitron{
  font-family: 'Orbitron', sans-serif;
}

.font-source-sans-3{
  font-family: 'Source Sans 3', sans-serif;
}

